@model bellyful_proj.Models.VolunteerTrainingInfo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>VolunteerTrainingInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryTraining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryTraining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HSTraining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HSTraining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstAidRaining)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstAidRaining)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherTrainingSkill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherTrainingSkill)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Volunteer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volunteer.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VolunteerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
