@model IEnumerable<bellyful_proj.Models.Recipient>

@{
    ViewData["Title"] = "Recipients";
}

<h2>Recipients</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                Address  @*@Html.DisplayNameFor(model => model.AddressNumStreet)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TownCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdultsNum)
            </th>
            <th>
                DietaryRequirement @*@Html.DisplayNameFor(model => model.DietaryRequirementNavigation)*@
            </th>
            <th>
                ReferralReason @*@Html.DisplayNameFor(model => model.ReferralReasonNavigation)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Referrer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressNumStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TownCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdultsNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DietaryRequirementNavigation.DietaryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferralReasonNavigation.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Referrer.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
