@model bellyful_proj.Models.Referrer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Referrer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganisationName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganisationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TownCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TownCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferringAsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferringAsNavigation.RoleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReferrerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
