@model bellyful_proj.Models.Batch

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MealType.MealTypeName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BatchId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
