@model bellyful_proj.Models.Batch

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Batch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MealType.MealTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
