@model bellyful_proj.Models.Recipient

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recipient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressNumStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressNumStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TownCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TownCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DogOnProperty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DogOnProperty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherReferralInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherReferralInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdultsNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdultsNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Under5ChildrenNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Under5ChildrenNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._510ChildrenNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._510ChildrenNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model._1117ChildrenNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model._1117ChildrenNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherAllergyInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherAllergyInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdditionalInfo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdditionalInfo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DietaryRequirementNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DietaryRequirementNavigation.DietaryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NearestBranchNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NearestBranchNavigation.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReferralReasonNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferralReasonNavigation.ReferralReasonId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Referrer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Referrer.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RecipientId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
